@model IEnumerable<VShop.Web.Models.ProductViewModel>

<h2>Products</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-left">
                <a asp-action="CreateProduct" class="btn btn-primary">
                    <span title="Create New" class="fas fa-plus"></span> New Product
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.categoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.categoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        <a asp-action="UpdateProduct" asp-route-id="@item.id" title="Edita" class="btn btn-warning">
                            <span class="fas fa-edit"></span>
                        </a>
                        <a asp-action="DeleteProduct" asp-route-id="@item.id" title="Deleta" class="btn btn-danger">
                            <span class="fas fa-trash-alt"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>